@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.row1 {
  width: 50%;
}
button {
  padding: 17px 30px;
  background-color: #fff;
  color: #1eb2a6;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
button i {
  margin-left: 20px;
}
button:hover {
  box-shadow: none;
}
.primary-btn {
  background-color: #1eb2a6;
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}
#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}
p {
  line-height: 30px;
  font-size: 18px;
}

.back {
  background-image: url("../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
.back h1 {
  font-size: 100px;
  font-weight: 400;
}
.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}
.margin {
  margin-top: 32.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.padding {
  padding: 140px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}
/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
}

footer {
  background-color: #eeeeee;
}
footer .container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 4fr;
  grid-gap: 30px;
}
@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
footer .logo span {
  color: #1eb2a6;
  font-size: 14px;
}
footer .logo p {
  color: grey;
  margin: 30px 0 15px 0;
}
footer .logo .icon {
  background-color: #1eb2a6;
  color: white;
  margin-right: 10px;
}
footer h3 {
  margin-bottom: 40px;
  font-weight: 500;
}
footer ul li {
  margin-bottom: 20px;
}
footer .link li::before {
  content: "⟶";
  color: #1eb2a6;
  margin-right: 5px;
}
footer .items {
  margin-bottom: 30px;
}
footer .items img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}
footer .items span,
footer .items i {
  font-size: 12px;
  color: #1eb2a6;
  margin-right: 5px;
  text-transform: capitalize;
}
footer h4 {
  font-weight: 400;
  margin-top: 5px;
}
footer .last ul li {
  display: flex;
  margin-bottom: 50px;
}
footer .last i {
  width: 60px;
  font-size: 20px;
  color: #1eb2a6;
}
.legal {
  text-align: center;
  padding: 50px 0;
  color: grey;
  background-color: #e9e9e9;
}
.legal p {
  font-size: 15px;
}
.legal i {
  color: #1eb2a6;
}


/*********************************
 Course
*********************************/
.courses button {
	margin: 0;
}

.course_title
{
	font-size: 36px;
	font-weight: 700;
	color: #384158;
}

.course_info
{
	width: 100%;
	height: 92px;
	margin-top: 68px;
	background: #f2f4f5;
}
.course_info_item
{
	width: 33.33333333%;
	padding-left: 30px;
}
.course_info_item:not(:last-child)::after
{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #d9dbdc;
	content: '';
}
.course_info_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #384158;
}
.course_info_text
{
	margin-top: 8px;
}
.course_info_text a
{
	font-size: 14px;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.course_info_text a:hover
{
	color: #14bdee;
}
.rating_r
{
	margin-top: 7px;
}


.course_image
{
	margin-top: 21px;
	width: 100%;
}
.course_image img
{
	max-width: 100%;
}


/*********************************
 Sidebar
*********************************/

.sidebar
{
	width: 100%;
	padding-left: 40px;
	padding-top: 120px;
}
.sidebar_section:not(:last-child)
{
	margin-bottom: 60px;
}
.sidebar_section_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 700;
	color: #384158;
	line-height: 0.75;
}
.sidebar_feature
{
	margin-top: 33px;
}
.course_price
{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 400;
	color: #14bdee;
}
.feature_list
{
	margin-top: 16px;
}
.feature:not(:last-child)
{
	margin-bottom: 21px;
}
.feature_title
{
	padding-left: 31px;
}

.sidebar_teacher
{
	margin-top: 40px;
}
.teacher_image
{
	width: 102px;
	height: 102px;
}
.teacher_image img
{
	max-width: 100%;
}
.teacher_title
{
	padding-left: 35px;
}
.teacher_position
{
	font-size: 14px;
	color: #76777a;
	margin-top: 4px;
}
.teacher_name a
{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.teacher_name a:hover
{
	color: #14bdee;
}
.teacher_meta_container
{
	margin-top: 27px;
}
.teacher_meta:not(:last-child)
{
	margin-bottom: 9px;
}
.teacher_meta_title,
.teacher_meta_text span
{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
}
.teacher_meta_text span
{
	margin-right: 4px;
}
.teacher_meta_text i
{
	color: #14bdee;
}
.teacher_info
{
	margin-top: 17px;
}
.teacher_info p
{
	line-height: 2;
}
.sidebar_latest
{
	margin-top: 31px;
}
.latest:not(:last-child)
{
	margin-bottom: 20px;
}
.latest_image div
{
	width: 90px;
	height: 74px;
	border-radius: 3px;
	overflow: hidden;
}
.latest_image div img
{
	max-width: 100%;
}
.latest_content
{
	padding-left: 21px;
	margin-top: -4px;
}
.latest_title a
{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 700;
	color: #383749;
	line-height: 1.625;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.latest_title a:hover
{
	color: #14bdee;
}
.latest_price
{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 700;
	color: #14bdee;
	line-height: 0.75;
	margin-top: 16px;
}

/*********************************
Login/Register
*********************************/

section#formHolder {
	padding: 50px 0;
  }
  
  .brand {
	padding: 20px;
	background: url(https://goo.gl/A0ynht);
	background-size: cover;
	background-position: center center;
	color: #fff;
	min-height: 540px;
	position: relative;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
	z-index: 9999;
  }
  .brand.active {
	width: 100%;
  }
  .brand::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: -1;
  }
  .brand a.logo {
	color: #f95959;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	line-height: 1em;
  }
  .brand a.logo span {
	font-size: 30px;
	color: #fff;
	transform: translateX(-5px);
	display: inline-block;
  }
  .brand .heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: all 0.6s;
  }
  .brand .heading.active {
	top: 100px;
	left: 100px;
	transform: translate(0);
  }
  .brand .heading h2 {
	font-size: 70px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
  }
  .brand .heading p {
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	white-space: 4px;
	font-family: "Raleway", sans-serif;
  }
  .brand .success-msg {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 60px;
  }
  .brand .success-msg p {
	font-size: 25px;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
  }
  .brand .success-msg a {
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 30px;
	background: #f95959;
	text-decoration: none;
	color: #fff;
	border-radius: 30px;
  }
  .brand .success-msg p, .brand .success-msg a {
	transition: all 0.9s;
	transform: translateY(20px);
	opacity: 0;
  }
  .brand .success-msg p.active, .brand .success-msg a.active {
	transform: translateY(0);
	opacity: 1;
  }
  
  .form {
	position: relative;
  }
  .form .form-piece {
	background: #fff;
	min-height: 480px;
	margin-top: 30px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	color: #bbbbbb;
	padding: 30px 0 60px;
	transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
	position: absolute;
	top: 0;
	left: -30%;
	width: 130%;
	overflow: hidden;
  }
  .form .form-piece.switched {
	transform: translateX(-100%);
	width: 100%;
	left: 0;
  }
  .form form {
	padding: 0 40px;
	margin: 0;
	width: 70%;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
  }
  .form form .form-group {
	margin-bottom: 5px;
	position: relative;
  }
  .form form .form-group.hasError input {
	border-color: #f95959 !important;
  }
  .form form .form-group.hasError label {
	color: #f95959 !important;
  }
  .form form label {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	transform: translateY(11px);
	transition: all 0.4s;
	cursor: text;
	z-index: -1;
  }
  .form form label.active {
	transform: translateY(10px);
	font-size: 10px;
  }
  .form form label.fontSwitch {
	font-family: "Raleway", sans-serif !important;
	font-weight: 600;
  }
  .form form input:not([type=submit]) {
	background: none;
	outline: none;
	border: none;
	display: block;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #eee;
	color: #444;
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	z-index: 1;
  }
  .form form input:not([type=submit]).hasError {
	border-color: #f95959;
  }
  .form form span.error {
	color: #f95959;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	position: absolute;
	bottom: -20px;
	right: 0;
	display: none;
  }
  .form form input[type=password] {
	color: #f95959;
  }
  .form form .CTA {
	margin-top: 30px;
  }
  .form form .CTA input {
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 30px;
	background: #f95959;
	color: #fff;
	border-radius: 30px;
	margin-right: 20px;
	border: none;
	font-family: "Montserrat", sans-serif;
  }
  .form form .CTA a.switch {
	font-size: 13px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	color: #bbbbbb;
	text-decoration: underline;
	transition: all 0.3s;
  }
  .form form .CTA a.switch:hover {
	color: #f95959;
  }
  
  footer {
	text-align: center;
  }
  footer p {
	color: #777;
  }
  footer p a, footer p a:focus {
	color: #b8b09f;
	transition: all 0.3s;
	text-decoration: none !important;
  }
  footer p a:hover, footer p a:focus:hover {
	color: #f95959;
  }
  .newletter {
	background-color: #1eb2a6;
	padding: 50px 0;
	color: #fff;
  }
  .newletter .right,
  .newletter .left {
	padding-right: 50px;
  }
  .newletter h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
  }
  .newletter .right {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .newletter input {
	width: 100%;
	padding: 20px;
	border: none;
	outline: none;
	height: 30px;
	color: black;
  }
  .newletter i {
	padding: 12px;
	color: #1eb2a6;
	background-color: #fff;
  }
  
  @media (max-width: 768px) {
	.container {
	  overflow: hidden;
	}
  
	section#formHolder {
	  padding: 0;
	}
	section#formHolder div.brand {
	  min-height: 200px !important;
	}
	section#formHolder div.brand.active {
	  min-height: 100vh !important;
	}
	section#formHolder div.brand .heading.active {
	  top: 200px;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	section#formHolder div.brand .success-msg p {
	  font-size: 16px;
	}
	section#formHolder div.brand .success-msg a {
	  padding: 5px 30px;
	  font-size: 10px;
	}
	section#formHolder .form {
	  width: 80vw;
	  min-height: 500px;
	  margin-left: 10vw;
	}
	section#formHolder .form .form-piece {
	  margin: 0;
	  top: 0;
	  left: 0;
	  width: 100% !important;
	  transition: all 0.5s ease-in-out;
	}
	section#formHolder .form .form-piece.switched {
	  transform: translateY(-100%);
	  width: 100%;
	  left: 0;
	}
	section#formHolder .form .form-piece > form {
	  width: 100% !important;
	  padding: 60px;
	  left: 50%;
	}
  }
  @media (max-width: 480px) {
	section#formHolder .form {
	  width: 100vw;
	  margin-left: 0;
	}
}